.movieCard {
    width : 150px;
    border-radius: 15% 5%;
    overflow : hidden;
    text-align: center;
    background: linear-gradient(0deg, rgb(92, 92, 92), black);
}

.movieImg{
    width : 100%;
}

.movieTxt{
    font-family: sans-serif ;
    
}

.white{
    color: white;
}

.yellow{
    color: yellow;
}